<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite - QuickBite Loyalty Program" verbose="2">

    <test name="Pruebas de SuscripcionService (HU-1, HU-2, HU-3, HU-9)">
        <classes>
            <class name="com.quickbite.service.SuscripcionServiceTest"/>
        </classes>
    </test>

    <test name="Pruebas de PuntosService (HU-4, HU-5, HU-8, HU-10)">
        <classes>
            <class name="com.quickbite.service.PuntosServiceTest"/>
        </classes>
    </test>

    <test name="Pruebas de ReglasService (HU-6, HU-7)">
        <classes>
            <class name="com.quickbite.service.ReglasServiceTest"/>
        </classes>
    </test>

</suite>